body {
    background: #541085;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #888fb8, #541085);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ffffff, #7480bf);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.centrar {
    margin-top: 30px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}